@import '../../../assets/sass/main.scss';
 
header {
  min-height: 10vh;
  background-color: $white;

  .navbar-brand {
    width: 60%;

    img {
      width: 10%;

      @media screen and (max-width: 990px) {
        width: 30%;
      }
    }
  }

  .collapse {
    .link-navbar {
      padding: 10px;
    }
  }
}