<div class="col-md-6 p-lg-5 mx-auto text-center searchBox">
  <h2>Descobridor de repositórios <i class="fa fa-search fa-1x"></i></h2>
  <p>Digite o nome do usuário e descubra suas contribuições!</p>

  <form [formGroup]="searchUsernameForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" class="form-control" id="username" placeholder="Ex.: matheusmpessoa" formControlName="username">
    </div>
    <button type="submit" class="btn btn-outline-secondary">Pesquisar</button>
  </form>
</div>

<div *ngIf="userSearched">
  <div class="list-group">
    <h3>Repositórios de: <span>{{ userSearched }}</span></h3>
    <div *ngFor="let repo of responseObj">
      <a href="{{ repo.html_url }}" class="list-group-item list-group-item-action flex-column align-items-start"
        target="_blank">
        <div class="d-flex w-100 justify-content-between">
          <h5>{{ repo.name }}</h5>
          <small>{{ repo.stargazers_count }} <i class="fa fa-star fa-1x"></i></small>
        </div>
        <p>{{ repo.description }}</p>
        <small>Linguagem principal: {{ repo.language }}</small>
      </a>
    </div>
  </div>
</div>

<div class="col-md-6 mx-auto text-center">
  <div class="alert alert-danger" *ngIf="messageError" role="alert">
    {{ messageError }}
  </div>
</div>