<div class="col-md-6 p-lg-5 mx-auto text-center">
  <h2>Instruções de uso <i class="fa fa-book fa-fw"></i></h2>
  <p>Instruções de uso e maiores informações sobre o projeto.</p>
</div>

<div class="list-group">
  <h3>Informações de uso</h3>
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5>Ferramentas necessárias</h5>
    </div>
    <p>Node v+10 - Navegador - CLI para executar o projeto</p>
  </div>
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5>Comandos necessários</h5>
    </div>
    <p>Vá até a raiz do projeto e digite em seu CLI: npm install -y && ng serve --open</p>
    <p>Abra o navegador na url: <a href="http://localhost:4200/">http://localhost:4200/</a></p>
  </div>
</div>

<div class="list-group">
  <h3>Como usar</h3>
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5>Pesquisa</h5>
    </div>
    <p>Vá até a <a href="#" routerLink="/home">home</a> e digite o nome do usuário a ser encontrado. Será apresentado uma lista dos repositórios criados pelo usuário.</p>
  </div>
</div>

<div class="list-group">
  <h3>Tecnologias utilizadas</h3>
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5>Linguagens</h5>
    </div>
    <p>HTML5 - CSS3 - JavaScript/TypeScript</p>
  </div>
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5>Frameworks, compiladores e bibliotecas</h5>
    </div>
    <p>Angular 7 - SASS - Bootstrap 4 - FontAwesome</p>
  </div>
</div>